body {
  font-family: "Poppins", sans-serif;
}
.teks {
  font-family: "Inter", sans-serif;
  font-size: 13px;
  padding-bottom: 10px;
}
.bg-card {
  background-color: #0b1f37;
  color: #fff;
}
.berita {
  padding-bottom: 10px;
}
.bg-c {
  background-color: #f5a206;
}
.gambar {
  padding: 20px;
}
.bentuk {
  margin-top: 4rem;
  border-radius: 45px;
}
.gambar-2 {
  padding: 12px;
}
.bentuk-2 {
  border-radius: 45px;
}
